In [1]:
import pandas as pd
import numpy as np

from sklearn.svm import SVC

In [4]:
df = pd.read_csv('../data/final/pictures.csv')
df.sample(5)

,index,category,filename,Title,Date Created,Dimensions,Artist,mean_grayscale,mean_blue,mean_green,mean_red,std_grayscale,std_blue,std_green,std_red
8880,8880,BROWN,8880.jpg,The Drawing Lesson,1748/1753,41cm × 47cm,"CHARDIN, Jean-Baptiste-Siméon",0.240675,0.160457,0.237625,0.276086,0.087716,0.073048,0.085838,0.101903
539,539,WHITE,539.jpg,Crossing the Seine,2010,30 x 30 in. (76.2 x 76.2 cm),"Kim Flora (American, b.1982)",0.655224,0.629781,0.654697,0.665589,0.286566,0.277067,0.287407,0.289022
9135,9135,BLACK,9135.jpg,The Blinded Samson,1912,w105.0 x h130.0 cm,Lovis Corinth,0.308535,0.254310,0.307017,0.331401,0.155015,0.116778,0.145146,0.195452
2499,2499,BLUE,2499.jpg,Perseus. Triptych,1941,NaN,Max Beckmann,0.471586,0.488175,0.471501,0.465673,0.275928,0.261701,0.277546,0.289832
456,456,WHITE,456.jpg,Scriabin,2015,w95 x h115 x d3 cm,Arsen Levonee,0.913957,0.873107,0.919722,0.917600,0.077132,0.140010,0.074075,0.087363

In [10]:
y = df['category']
X = df[['mean_grayscale','mean_blue','mean_green','mean_red','std_grayscale','std_blue','std_green','std_red']]

,mean_grayscale,mean_blue,mean_green,mean_red,std_grayscale,std_blue,std_green,std_red
0,0.707468,0.592548,0.702255,0.759860,0.113919,0.112658,0.117957,0.108062
1,0.591144,0.519539,0.586287,0.626952,0.204013,0.186520,0.203947,0.212146
2,0.687141,0.638097,0.687555,0.704309,0.133684,0.122419,0.133433,0.139909
3,0.696685,0.713158,0.700890,0.682375,0.119145,0.071436,0.113651,0.153838
4,0.836621,0.802547,0.829830,0.862469,0.246921,0.279878,0.261812,0.241762
...,...,...,...,...,...,...,...,...
10282,0.230614,0.173959,0.212953,0.286121,0.128299,0.086729,0.119882,0.169042
10283,0.189356,0.139667,0.183914,0.218277,0.127262,0.094676,0.126390,0.149458
10284,0.189356,0.139667,0.183914,0.218277,0.127262,0.094676,0.126390,0.149458
10285,0.171447,0.095410,0.163917,0.214138,0.144144,0.103906,0.138465,0.185503
10286,0.196518,0.165965,0.189669,0.221191,0.226255,0.180563,0.215478,0.271158

In [ ]:
#X_train,X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, stratify=y,random_state=32)
# And here we train our model. IMPORTANT: we use kernel='linear'.
svc_model = SVC(kernel='linear', random_state=32)
svc_model.fit(X, y)